@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto:wght@100;500&family=Source+Sans+Pro:wght@700&display=swap');
h1
{
    margin: 0;
    padding: 0;
}

.yukaricik
{
    transition: 0.9s;
    position:fixed;
    width: 60px;
    height:50px;
    /* background-color: red; */
    top: 94%;
    left: 94%;
    border-radius: 30px;
}

.yukaricik img
{
    margin: 0;
    padding: 5px;
    padding-top: 0px;
}

.yukaricik:hover
{
    background-color: #9ca7b1;
    transition: 0.6s;
}

#boyut
{
    width: 350px;
    height: 100px;
}

.aboutborder
{
    border: 3px;
    border-color: black;
}

.about
{
    font-family: 'Cabin', sans-serif;
    text-align: center;
    color: cornsilk;
    box-shadow: 5px 3px 6px 5px;
    padding: 13px;
}

.dnav
{
    background: rgba(73, 64, 64, 0.8);
    position: fixed;
    z-index: 2;
    width: 100%;
}

.icerik
{
    font-family: 'Cabin', sans-serif;
    
}

.aboutmetin
{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: cornsilk;
    box-shadow: 5px 3px 6px 5px;
    margin: 15px;
    padding: 8px;
    padding-left: 15px;
    text-align: left;
    font-size: 26px;
}
