@media only screen and (min-width:1366px)
{
    .resim
    {
        width: 500px;
        height:500px;
    }

    .resim img 

    {
        width: 95%;
        height: 95%;
    }
}


#buton
{
    background-color: blue;
    color: red;
    height: 100px;
    width: 100px;
}

@media screen and (min-width:960px) and (max-width:1365px)
{
    .resim
    {
        width: 450px;
        height:450px;
    }
    .resim img 

    {
        width: 95%;
        height: 95%;
    }
}

@media screen and (min-width:720px) and (max-width:959px)
{
    .resim
    {
        width: 400px;
        height:400px;

    }

    .resim img 
    {

        width: 95%;
        height: 95%;
    }
}

@media screen and (min-width:480px) and (max-width:719px)
{
    .resim
    {
        width: 350px;
        height:350px;
    }
    
    .resim img 
    {
        width: 95%;
        height: 95%;
    }
    #cartss{margin-left:55px;}
}

@media only screen and (min-width:320px) and (max-width:479px)
{
    .resim
    {
        width: 300px;
        height:300px;
    }
    
    .resim img 
    {
        width: 95%;
        height: 95%;
    }
    #cartss{margin-left:35px;}
}

@media screen and (max-width:319px)
{
    .resim
    {
        width: 250px;
        height:250px;
    }
    
    .resim img 
    {
        width: 95%;
        height: 95%;
    }
    #cartss{margin-left:10px;}
}
